# Simple SD layout:
# - 1KB free at front, raw u-boot.imx at 1KB
# - FAT boot partition @ 8MB with zImage, DTB, boot.scr
# - ext2 rootfs

image boot.vfat {
  vfat {
    label = "boot"
    files = {
      "zImage",
      "imx6ul-embest-ec9100.dtb",
      "boot.scr"
    }
  }
  size = 16M
}

image sdcard.img {
  hdimage { }

  partition u-boot {
    in-partition-table = "no"
    image = "u-boot.imx"
    offset = 1024
  }

  partition boot {
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
    offset = 8M
  }

  partition rootfs {
    partition-type = 0x83
    image = "rootfs.ext2"
  }
}

